extends container

block content

  link(rel='stylesheet', href='asset/css/index.css')
  script(src='asset/js/index.js')

  - for( var i = 1; i<=4; i++)
    - var id = {'id': 'tab' + i }
    - var name = {'data-index': i }
    div(data-index='1').tab&attributes(id)&attributes(name)
      .container
        .col-md-6
          h3= data.content[i-1].title
          - for( var j = 0; j<=data.content[i-1].content.length; j++)
            p= data.content[i-1].content[j]
          p.text-right
            a.btn.btn-primary(href='#', role='button')= data.btn

  div(data-index='5').tab
    p 只是為了讓上面那個不是最後一個tab

  .jumbotron.bg
    .container
      h1= data.title
      p= data.subTitle
      p
        a.btn.btn-success.btn-lg(href='#', role='button')= data.btn
      br
      br
      .row
        - for( var i = 1; i<=4; i++)
          - var id = {'id': 'service' + i }
          - var name = {'data-index': i }
          - var url = {'src': data.content[i-1].url }
          .col-xs-6.col-md-3.tabImg&attributes(id)
            a.thumbnail(href='#')
              img(src='', height='400px', alt='節能')&attributes(name)&attributes(url)
