extends container

block content
  .container-fluid
    br
    br
    //- top product title
    .row
      .col-md-2
      .col-xs-12.col-sm-8.col-md-5
        - var img = { src: data.img };
        img.img-responsive(height='80%', width='80%', alt='')&attributes(img)
      .col-xs-12.col-md-5
        h1= data.name.text
          | &nbsp;&nbsp;&nbsp;
          small
            - var color = { 'class': 'label-' + data.name.useOn.color };
            span&attributes(color).label= data.name.useOn.text
        br

        - for( var i=0; i < data.good.length; i++)
          h4
            - color = { 'class': 'label-' + data.good[i].color };
            span.label&attributes(color)= data.good[i].title
            | &nbsp;&nbsp;
            = data.good[i].content
    br
    br
    //- image box
    .row
      .col-md-1
      .col-md-10
        #carousel-example-generic.carousel.slide(data-ride='carousel')
          //- slide to ...
          ol.carousel-indicators
            - for( var i=0; i < data.imgBox.length; i++)
              - if( i === 0 )
                li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic')&attributes({ 'data-slide-to': i})
          //- img box
          .carousel-inner(role='listbox')
            - for( var i=0; i < data.imgBox.length; i++)
              - var active = { '': null};
              - if( i === 0)
                - active = {class: 'active'};
              .item&attributes(active)
                - var img = { src: data.imgBox[i].url};
                - var alt = { alt: data.imgBox[i].title};
                img(width="100%")&attributes(img)&attributes(alt)
                .carousel-caption
                  h3= data.imgBox[i].title
                  p= data.imgBox[i].describe
            //- Ctrl
            a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              span.sr-only Previous
            a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
              span.sr-only Next
      .col-md-1
    br
    br
    br
    //- describe information
    .row
      .col-md-2
      .col-md-8
        h3= data.describe.title
        blockquote
          - for( var i=0; i < data.describe.content.length; i++)
            p= data.describe.content[i]
      .col-md-2
    //- Q&A
    .row
      .col-md-2
      .col-md-8
        h3 常見問題
        hr
        - for( var i=0; i < data.ques.length; i++)
          - var color = {class: 'alert-' + data.ques[i].Q.color};
          .alert(role='alert')&attributes(color)= data.ques[i].Q.text
          blockquote
            - for( var j=0; j < data.ques[i].A.content.length; j++)
              p= data.ques[i].A.content[j]
      .col-md-2
    br
    br
    br
    //- type
    .row
      .col-md-2
      .col-md-8
        div(role='tabpanel')
          ul.nav.nav-tabs(role='tablist')
            //- tab control
            - for( var i=0; i < data.detail.length; i++)
              - var active = { '': null};
              - if( i === 0)
                - active = { class: 'active'};
              li(role='presentation')&attributes(active)
                - var href = { href: '#' + data.detail[i].key }
                - var ctrl = { 'aria-controls': data.detail[i].key }
                a(role='tab', data-toggle='tab')&attributes(href)&attributes(ctrl)= data.detail[i].text
          //- detail table
          .tab-content
            br
            br
            - for( var i=0; i < data.detail.length; i++)
              - var active = { '': null};
              - if( i === 0)
                - active = { class: 'active'};
              - var ctrl = { id: data.detail[i].key }
              .tab-pane(role='tabpanel')&attributes(active)&attributes(ctrl)
                .container-fluid
                  .row
                    .col-md-6
                      section.table-responsive
                        table.table.table-hover
                          thead
                            tr
                              th 規格
                              th 數據
                          //- detail table row
                          tbody
                            - var detail = data.detail[i];
                            - for( var j=0; j < detail.info.length; j++)
                              tr
                                td= detail.info[j].item
                                td= detail.info[j].params
                    .col-md-6.text-center
                      - var img = { src: data.detail[i].img }
                      img(height='250px')&attributes(img)
                      p= data.detail[i].imgText
    //- 上下頁扭
    //- nav
    //-   ul.pager
    //-     li.previous
    //-       a(href='#')
    //-         span(aria-hidden='true') ←
    //-         | &nbsp;前一項
    //-     li.next
    //-       a(href='#')
    //-         | 下一項&nbsp;
    //-         span(aria-hidden='true') →


